<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/Class-Binding']">Class Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Event_binding']">Event Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Interpolação']">Interpolação</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [routerLink]="['/TwoWay']">Two-way Data Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [routerLink]="['/Input_Output']">Input e OutPut</a>
  </li>
</ul>

