<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--
<app-navbar></app-navbar>
<app-propety-binidng></app-propety-binidng>
<app-class-binding></app-class-binding>

<app-property></app-property>
<router-outlet></router-outlet>
-->

<!--<app-ng-class></app-ng-class>-->
<!--<app-output></app-output>-->
<!--<app-ng-class></app-ng-class>-->
<!--<app-operador></app-operador>-->
<!--<app-ng-content>-->
<!--  Conteudo ta no app-->
<!--</app-ng-content>-->

<app-diretivas-customizada></app-diretivas-customizada>
